<!DOCTYPE html>
<html>
<head>
    <title>School Donations Dashboard</title>
    <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
    <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/lib/css/dc.css">
    <link rel="stylesheet" href="./static/css/custom.css">
    <link rel="stylesheet" href="./static/lib/css/introjs.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,100,100italic,300,300italic' rel='stylesheet' type='text/css'>
</head>
<body class="application">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><b>School Donations</b> Dashboard</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href='javascript:introJs().start();' style="font-size: 14px; color: lightblue"><b>Start the tour!</b></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="row-selection" class="dc-data-count"><span class="filter-count">_</span> selected out of <span class="total-count">_</span> records</li>
                <li><a href='javascript:dc.filterAll();dc.redrawAll();'><b>Reset All</b></a></li>  
            </ul>     
        </div>
    </div>

    <div  id="outer" class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <!-- Donations map -->
                <div class="chart-wrapper" data-step="1" data-intro="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum." data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations map
                        </div>
                        <div class="chart-stage">
                            <div id="us-chart"></div>
                            <div id="volume-chart"></div>
                        </div>
                    </div>
                </div>
                <!-- Donations map -->
            </div>
            <div class="col-sm-6">
                <div class="chart-wrapper" data-step="2" data-intro="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod." data-position="right">
                    <!-- Number display -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Number of donations
                            </div>
                            <div class="chart-stage">
                                <div id="number-projects-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display -->
                    <!-- Number display 2 -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Percentage of total donations 
                            </div>
                            <div class="chart-stage">
                                <div id="ratio-donations-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display 2 -->
                    <!-- Number display 3 -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Total donations in USD
                            </div>
                            <div class="chart-stage">
                                <div id="total-donations-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display 3 -->
                    <!-- Number display 4 -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Average donations in USD
                            </div>
                            <div class="chart-stage">
                                <div id="usd-avg-donations-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display 4 -->
                    <!-- Number display 5 -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Number of students reached
                            </div>
                            <div class="chart-stage">
                                <div id="students-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display 5 -->
                    <!-- Number display 6 -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Average students reached
                            </div>
                            <div class="chart-stage">
                                <div id="avg-students-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display 6 -->
                    <!-- Number display 7 -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Number of donors
                            </div>
                            <div class="chart-stage">
                                <div id="donors-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display 7 -->
                    <!-- Number display 8 -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Average donors
                            </div>
                            <div class="chart-stage">
                                <div id="avg-donors-nd" class="big-numbers"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Number display 8 -->
                </div>
            </div>
            <!-- Donations: Number & USD -->
            <div class="col-sm-9">
                <div class="chart-wrapper" data-step="3" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations: Number and USD
                        </div>
                        <div class="chart-stage">
                            <div id="zoom-line-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Donations: Number & USD -->
            <!-- Funding status -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="4" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by funding status
                        </div>
                        <div class="chart-stage">
                            <div id="funding-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Funding status -->
            <!-- Stack lines -->
            <div class="col-sm-9">
                <div class="chart-wrapper" data-step="5" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Prices excluding optional support
                        </div>
                        <div class="chart-stage">
                            <div id="stack-lines-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Stack lines -->
            <!-- Teacher prefix -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="6" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by teacher prefix
                        </div>
                        <div class="chart-stage">
                            <div id="teacher-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Teacher prefix -->
            <!-- Resources in USD -->  
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="7" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations in USD by resources type
                        </div>
                        <div class="chart-stage">
                            <div id="resource-type-row-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resources in USD -->
            <!-- Poverty in USD -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="8" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations in USD by poverty level
                        </div>
                        <div class="chart-stage">
                            <div id="poverty-level-row-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Poverty in USD -->
            <!-- Area in USD -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="9" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations in USD by primary focus area
                        </div>
                        <div class="chart-stage">
                            <div id="area-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Area in USD -->
            <!-- Grade in USD -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="10" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations in USD by grade level
                        </div>
                        <div class="chart-stage">
                            <div id="usd-grade-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grade in USD -->
            <!-- Resource number -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="11" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by resource type
                        </div>
                        <div class="chart-stage">
                            <div id="resource-pie-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Resource number -->
            <!-- Poverty number -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="12" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by poverty level
                        </div>
                        <div class="chart-stage">
                            <div id="poverty-pie-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Poverty number -->
            <!-- Area number -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="13" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by primary focus area
                        </div>
                        <div class="chart-stage">
                            <div id="area-pie-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Area number -->
            <!-- Grade number -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="14" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by grade level
                        </div>
                        <div class="chart-stage">
                            <div id="grade-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Grade number -->
            <!-- States in USD -->
            <div class="col-sm-9">
                <div class="chart-wrapper" data-step="15" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations in USD by state
                        </div>
                        <div class="chart-stage">
                            <div id="usd-state-donations-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- States in USD -->
            <!-- States number -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="16" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by state
                        </div>
                        <div class="chart-stage">
                            <div id="states-pie-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- States number -->         
            <!-- Bubbles -->
            <div class="col-sm-9">
                <div class="chart-wrapper" data-step="17" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Students reached - Donations in USD - Primary focus subject
                        </div>
                        <div class="chart-stage">
                            <div id="bubble-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Bubbles -->  
            <!-- Metro -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="18" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Number of donations by metro 
                        </div>
                        <div class="chart-stage">
                            <div id="metro-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Metro -->
            <!-- Scatter -->
            <div class="col-sm-6">
                <div class="chart-wrapper" data-step="19" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Studens reached - Number of donors 
                        </div>
                        <div class="chart-stage">
                            <div id="scatter1-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Scatter -->
            <!-- Months -->
            <div class="col-sm-6">
                <div class="chart-wrapper" data-step="20" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Donations in USD by month
                        </div>
                        <div class="chart-stage">
                            <div id="month-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Months -->
            <!-- Table -->
            <div class="col-sm-9">
                <div class="chart-wrapper" data-step="21" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Table
                        </div>
                        <div class="chart-stage">
                            <div style="clear:both">
                                <table id="data-table" class="table table-hover">
                                    <thead>
                                        <tr class="header">
                                            <th><span>State</span></th>
                                            <th><span>Resource type</span></th>
                                            <th><span>Poverty level</span></th>
                                            <th><span>Donors</span></th>
                                            <th><span>Donation ($)</span></th>
                                            <th><span>Funding status</span></th>
                                            <th><span>Grade level</span></th>
                                            <th><span>Students reached</span></th>
                                            <th><span>Primary focus subject</span></th>
                                            <th><span>Primary focus area</span></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <!-- Filter menu -->
            <div class="col-sm-3">
                <div class="chart-wrapper" data-step="22" data-intro=" The description that you want" data-position="right">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Filters
                        </div>
                        <div class="row">
                            <div class="chart-stage">
                                <div class="col-sm-6" id="menu-select">State<br></div>
                                <div class="col-sm-6" id="menu2-select">Resource<br></div>
                                <div class="col-sm-6" id="menu3-select">Area<br></div>
                                <div class="col-sm-6" id="menu4-select">Subject<br></div>
                                <div class="col-sm-6" id="menu5-select">Poverty<br></div>
                                <div class="col-sm-6" id="menu6-select">Funding<br></div>
                                <div class="col-sm-6" id="menu7-select">Metro<br></div>
                                <div class="col-sm-6" id="menu8-select">Teacher<br></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Filter menu --> 
       </div>
    </div>
     
    <hr>
    <p class="small text-muted"> Data viz &#9829; from Code Institute</p>

    <script src="./static/lib/js/jquery.min.js"></script>
    <script src="./static/lib/js/bootstrap.min.js"></script>
    <script src="./static/lib/js/crossfilter.js"></script>
    <script src="./static/lib/js/d3.js"></script>
    <script src="./static/lib/js/dc.js"></script>
    <script src="./static/lib/js/queue.js"></script>   
    <script src="./static/lib/js/keen.min.js"></script>
    <script src='./static/js/graph.js' type='text/javascript'></script>
    <script src="./static/lib/js/intro.js" type="text/javascript"></script>
</body>
</html>
